In [184]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

## **DATA UNDERSTANDING**

In [185]:
books_df = pd.read_csv("./data/books.csv")
ratings_df = pd.read_csv("./data/ratings.csv")
users_df = pd.read_csv("./data/users.csv")

print(f"Jumlah data buku: {books_df.shape[0]}")
print(f"Jumlah data penilaian buku: {ratings_df.shape[0]}")
print(f"Jumlah data pengguna: {users_df.shape[0]}")

C:\Users\wahid\AppData\Local\Temp\ipykernel_18116\1529522772.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv("./data/books.csv")

Jumlah data buku: 271360
Jumlah data penilaian buku: 1149780
Jumlah data pengguna: 278858

Meload data yang akan di gunkan, terdapat 3 data yaitu buku, rating, dan users.

## **UNIVARIATE EXPLORATORY DATA ANALYSIS**

### **Buku**

In [127]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

Melhat informasi dari data buku, berdasarkan data tersebut data buku memilki **271.360** data serta memiliki 7 kolom bertipe object.

In [187]:
unique_books = books_df["Book-Title"].unique()

print(f"Jumlah buku :{len(unique_books)}")
print(f"Jumlah publisher :{len(books_df['Book-Author'].unique())}\n")

print(f"Nama Buku : {unique_books}")

Jumlah buku :242135
Jumlah publisher :102024

Nama Buku : ['Classical Mythology' 'Clara Callan' 'Decision in Normandy' ...
 'Lily Dale : The True Story of the Town that Talks to the Dead'
 "Republic (World's Classics)"
 "A Guided Tour of Rene Descartes' Meditations on First Philosophy with Complete Translations of the Meditations by Ronald Rubin"]

Mengetahui total data semua buku dengan filter nama buku yang sama tidak di hiting kembali dengan menggunkan _unique()_. Pada buku ini memiliki total **242.135** data buku dengan judul yang berbeda dan memilki **102.024** data.

### **Users**

In [129]:
users_df.shape

(278858, 3)

Menghtiung jumlah data users. Berdasarkan perhitungan tersebut data users memilki **278.858** baris dan terdapat 3 kolom.

In [130]:
users_df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

Menampilkan 5 data pertama pada dataset users.

### **Rating**

In [131]:
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

Menampilkan 5 data teratas dari table ratings.

In [132]:
ratings_df.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

Menampilkan statisik deskriptif pada data rating. Berdasarkan perhitungan tersebut data rating memiliki nilai maximal 10 dan minimal 0.

In [133]:
print('Jumlah userID: ', len(ratingsMenghtiung jumlah data users. Berdasarkan perhitungan tersebut data users memilki **278.858** baris dan terdapat 3 kolom._df["User-ID"].unique()))
print('Jumlah ISBN: ', len(ratings_df["ISBN"].unique()))
print('Jumlah data rating: ', len(ratings_df))

Jumlah userID:  105283
Jumlah ISBN:  340556
Jumlah data rating:  1149780

Menampilkan jumlah id, ISBN, dan rating yang terdapat pada masing masing dataset.

## **DATA PREPROCESSING**

### **Mengetahui jumlah rating pada tiap buku**

In [134]:
books_with_ratings = ratings_df.merge(books_df, on='ISBN')
books_with_ratings.info()  
books_with_ratings.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031136 entries, 0 to 1031135
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User-ID              1031136 non-null  int64
 1   ISBN                 1031136 non-null  object
 2   Book-Rating          1031136 non-null  int64
 3   Book-Title           1031136 non-null  object
 4   Book-Author          1031135 non-null  object
 5   Year-Of-Publication  1031136 non-null  object
 6   Publisher            1031134 non-null  object
 7   Image-URL-S          1031136 non-null  object
 8   Image-URL-M          1031136 non-null  object
 9   Image-URL-L          1031132 non-null  object
dtypes: int64(2), object(8)
memory usage: 86.5+ MB

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

Menggabungkan data rating dan data buku dari ISBN menggunakan fungsi merge yang terdapat pada pandas.

In [135]:
# cek missing value
books_with_ratings.isna().sum()

User-ID                0
ISBN                   0
Book-Rating            0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            4
dtype: int64

Melihat jumlah nilaii null pada dataset.

### **Menghitung jumlah rating buku**

In [136]:
num_rating_df = books_with_ratings.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating': 'num_ratings'}, inplace=True)
num_rating_df.head()

                                          Book-Title  num_ratings
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Ask Lily (Young Women of Faith: Lily Series, ...            1
4   Beyond IBM: Leadership Marketing and Finance ...            1

Membuat table yang berisi jumlah nilai rating dan judul buku dengan cara menjumlahkan data rating pada setiap judul buku.

### **Menghitung rata-rata rating buku**

In [137]:
avg_rating_df = books_with_ratings.groupby('Book-Title')['Book-Rating'].mean().reset_index()
avg_rating_df.rename(columns={'Book-Rating': 'avg_rating'}, inplace=True)
avg_rating_df.head()

                                          Book-Title  avg_rating
0   A Light in the Storm: The Civil War Diary of ...        2.25
1                              Always Have Popsicles        0.00
2               Apple Magic (The Collector's series)        0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...        8.00
4   Beyond IBM: Leadership Marketing and Finance ...        0.00

Membuat table yang berisi data judul buku dan rata rata rating.

### **Gabungkan rating dan rata-rata rating buku**

In [188]:
popular_df = num_rating_df.merge(avg_rating_df, on='Book-Title')
popular_df.sample(5)

,Book-Title,num_ratings,avg_rating
42827,DK Readers: A Bed For Winter (Level 1: Beginni...,3,2.333333
238474,Writing a Woman's Life,3,5.000000
199706,The New Oxford Book of Light Verse (Oxford pap...,1,0.000000
36964,Codice della vita italiana: Con un saggio biog...,1,8.000000
115786,Man on Earth: A Celebration of Mankind,2,0.000000

Menggabungkan data table berisi data judl buku, jumlah rating, dan rata rata rating.

### **Melihat rating terbanyak**

In [139]:
popular_df.sort_values('num_ratings', ascending=False).head()

                        Book-Title  num_ratings  avg_rating
234951                 Wild Animus         2502    1.019584
196326   The Lovely Bones: A Novel         1295    4.468726
183573           The Da Vinci Code          898    4.642539
5303               A Painted House          838    3.231504
199237  The Nanny Diaries: A Novel          828    3.530193

### **Melihat 50 buku dengan rating diatas 250 dan urutkan beradasarkan rata rata rating**

In [140]:
popular_df = popular_df[popular_df['num_ratings'] >= 250].sort_values('avg_rating', ascending=False).head(50)
popular_df.head()

,Book-Title,num_ratings,avg_rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453

### **Menggabungkan popular_df dengan book_df dan membuang kolom duplikat**

In [141]:
popular_df = popular_df.merge(books_df, on='Book-Title').drop_duplicates('Book-Title')[['Book-Title', 'Book-Author', 'Image-URL-M', 'num_ratings', 'avg_rating']]
popular_df.head()

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453

### **Melihat gambar buku yang paling populer**

In [142]:
popular_df['Image-URL-M'][0]

'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'

In [143]:
# mengecek total buku
print(f"Jumlah Buku :{len(popular_df['Book-Title'].unique())}")

Jumlah Buku :50

In [144]:
# mengecek nama publisher dan author
print(f"judul buku :{popular_df['Book-Title'][:10].tolist()}\n")

print(f"nama author :{popular_df['Book-Author'][:10].tolist()}")

judul buku :['Harry Potter and the Prisoner of Azkaban (Book 3)', 'Harry Potter and the Goblet of Fire (Book 4)', "Harry Potter and the Sorcerer's Stone (Book 1)", 'Harry Potter and the Order of the Phoenix (Book 5)', 'Harry Potter and the Chamber of Secrets (Book 2)', 'The Hobbit : The Enchanting Prelude to The Lord of the Rings', 'The Fellowship of the Ring (The Lord of the Rings, Part 1)', "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))", 'The Two Towers (The Lord of the Rings, Part 2)', 'To Kill a Mockingbird']

nama author :['J. K. Rowling', 'J. K. Rowling', 'J. K. Rowling', 'J. K. Rowling', 'J. K. Rowling', 'J.R.R. TOLKIEN', 'J.R.R. TOLKIEN', 'J. K. Rowling', 'J.R.R. TOLKIEN', 'Harper Lee']

## **MODEL DEVELOPMENT - COLLABORATIF FILTERING (item based)**

### **Memilih user yang aktif**

In [168]:
x = books_with_ratings.groupby('User-ID').count()['Book-Rating'] > 200
active_users = x[x].index  # mendapatkan user id-nya
active_users

Int64Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,
              6323,   6543,
            ...
            271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427,
            277639, 278418],
           dtype='int64', name='User-ID', length=811)

Memilih user yang aktif, dengan cara memfilter user yang sudah memberikan rating pada buku yang ada pada datset dengan jumlah lebih dari 200 rating.

### **Mere-filter data buku dengan user yang aktif**

In [169]:
# filter data buku dengan user yang masih akttif
filtered_rating = books_with_ratings[books_with_ratings['User-ID'].isin(active_users)]
filtered_rating.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

Memperbarui data filtered_rating dengan ketentuan berisi user yang masi aktif.

### **Memilih buku populer**

In [175]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating'] >= 50
famous_books = y[y].index  # dapatkan judul bukunya
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)

Memilih buku popular menggunakan banyaknya data user yang telah memberi rating kepada buku dengan memberikan treshold sebanyak 50 rating pada setiap buku yang akan di pilih menjadi buku popular.

In [181]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

Memfilter data dengan isi data buku yang popular saja.

### **Membuat pivot tabel**

In [182]:
pt = final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')
pt.fillna(0, inplace=True)  # replace nilai null dengan 0
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [189]:
similarity_scores = cosine_similarity(pt)

Menggunakan cosine similarity untuk menghitung tingkat kemiripan antar buku berdasarkan pola rating pengguna.

In [75]:
def recommend(book_name):
    # Mencari index buku
    index = np.where(pt.index == book_name)[0][0]
    # Mendapatkan 4 buku yang mirip teratas (yang pertama merupakan buku itu sendiri)
    similar_items = sorted(list(enumerate(similarity_scores[index])), key=lambda x: x[1], reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books_df[books_df['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    return data

Fungsi ini bertujuan memberikan rekomendasi buku berdasarkan kesamaan (similarity) dengan buku yang diberikan (book_name). Fungsi mengembalikan data dari 4 buku paling mirip dengan buku yang diberikan.

In [203]:
# Mencoba rekomendasi denagan buku yang berjudul Animal Farm
recommend('Animal Farm')

[['1984',
  'George Orwell',
  'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg'],
 ['Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
  'Louise Rennison',
  'http://images.amazon.com/images/P/0064472272.01.MZZZZZZZ.jpg'],
 ['Midnight',
  'Dean R. Koontz',
  'http://images.amazon.com/images/P/0425118703.01.MZZZZZZZ.jpg'],
 ['Second Nature',
  'Alice Hoffman',
  'http://images.amazon.com/images/P/0399139087.01.MZZZZZZZ.jpg']]

## **Export**

In [176]:
import pickle
pickle.dump(popular_df, open('popular.pkl', 'wb'))  
pickle.dump(pt, open('pt.pkl', 'wb'))  
pickle.dump(books, open('books.pkl', 'wb'))
pickle.dump(similarity_scores, open('similarity_scores.pkl', 'wb'))